*{
  margin:10;
  padding: 10;
  font-family: 'Noto Serif JP', serif;
}

body{
  width:100%;
  height:100vh;
  background-image: url("../imagenes/campo.png");
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment:fixed;
}

select{
  width: 200px;
  height: 25px;
  font-size: 15px;
}

input{
  width: 195px;
  height: 22px;
  font-size: 15px;
}

textarea{
  width: 195px;
  font-size: 14px;
}

#boton{
  width: 406px;
  height: 26px;
  background-color: #002448;
  color: white;
  margin-top: 10px;
}

h1,h2 {
  text-align: center;
  color: #002448;
  opacity: 100;
}

td{
  font-weight: bold;
  font-size: 15px;
}

table{
  margin: auto;
  padding: 10px;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 12px;
}

.ocultar{
  display: none;
}
